extends layout

block content
  .container
    h1 #{doc.title}
    a(href="/") (Back to main)
    a(href=doc.href ) (Add new segment)
    a(href=doc.deleteHref ) (Delete Document)
    - var segments = segs;
    if  segments.length
      ul
        each val in segments.length   ? segments : ['There are no values']
          li(style="list-style-type:none;") #[h3 #{val.title}]
            | #[a(href=val.assignmentHref target="_blank")  (Assign Segment to User)]
            | #[br]
            | #[br]
            | !{val.content}
            | #[br]
    else
      h3 There are no segments yet